<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <link rel="stylesheet" href="./static/map.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_78ddfba1b53e4513b3ba76ed5131fc9f {
                    position: absolute;
                    z-index: 1;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="content">
                <div class="form-left">
                    <form action="/action_page.php" method="get">
                        <div class="card">
                            <div class="card-header">
                                Bindal
                            </div>
                            <div class="card-form">
                                <label for="vol">Volume (between 0 and 50):</label>
                                <input type="range" id="vol" name="vol" min="0" max="50">
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Bindal
                            </div>
                            <div class="card-form">
                                <label for="vol">Volume (between 0 and 50):</label>
                                <input type="range" id="vol" name="vol" min="0" max="50">
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Bindal
                            </div>
                            <div class="card-form">
                                <label for="vol">Volume (between 0 and 50):</label>
                                <input type="range" id="vol" name="vol" min="0" max="50">
                            </div>
                            
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Bindal
                            </div>
                            <div class="card-form">
                                <label for="vol">Volume (between 0 and 50):</label>
                                <input type="range" id="vol" name="vol" min="0" max="50">
                            </div>
                            
                        </div>
                        
                        <!-- <label for="vol">Volume (between 0 and 50):</label>
                        <input type="range" id="vol" name="vol" min="0" max="50">
                        <label for="vol">Volume (between 0 and 50):</label>
                        <input type="range" id="vol" name="vol" min="0" max="50">
                        <label for="vol">Volume (between 0 and 50):</label>
                        <input type="range" id="vol" name="vol" min="0" max="50">
                        <input type="submit" value="Submit"> -->
                    </form>
                </div>
            </div> 
            <div class="folium-map" id="map_78ddfba1b53e4513b3ba76ed5131fc9f" ></div>
        
</body>
<script>    
    
            var map_78ddfba1b53e4513b3ba76ed5131fc9f = L.map(
                "map_78ddfba1b53e4513b3ba76ed5131fc9f",
                {
                    center: [41.2284, 80.9098],
                    crs: L.CRS.EPSG3857,
                    zoom: 3,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_170997e4682c4fef88bd585a55d46811 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var marker_18cb98c744984ac793a06064aaf49f07 = L.marker(
                [68.70808458060398, 22.738883605261805],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_6ca6a432361542abbf64f54559870b07 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_18cb98c744984ac793a06064aaf49f07.setIcon(icon_6ca6a432361542abbf64f54559870b07);
        
    
        var popup_b7101b2f951a439c8f99133ed97e23f3 = L.popup({"maxWidth": "100%"});

        
            var html_f70e325aaa80418fbd1b93ccba64a339 = $(`<div id="html_f70e325aaa80418fbd1b93ccba64a339" style="width: 100.0%; height: 100.0%;"><strong>0</strong></div>`)[0];
            popup_b7101b2f951a439c8f99133ed97e23f3.setContent(html_f70e325aaa80418fbd1b93ccba64a339);
        

        marker_18cb98c744984ac793a06064aaf49f07.bindPopup(popup_b7101b2f951a439c8f99133ed97e23f3)
        ;

        
    
    
            var marker_64191909565b4bdabc893a4da7e42064 = L.marker(
                [77.36738638227385, -0.6449211314979664],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_a6273453b6ad4dea9cbaefb7afe76be2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_64191909565b4bdabc893a4da7e42064.setIcon(icon_a6273453b6ad4dea9cbaefb7afe76be2);
        
    
        var popup_62e2d0a5c2534c6b9c3457f2a2a7d362 = L.popup({"maxWidth": "100%"});

        
            var html_9d0dfa91da324e359f47bdf00445d330 = $(`<div id="html_9d0dfa91da324e359f47bdf00445d330" style="width: 100.0%; height: 100.0%;"><strong>1</strong></div>`)[0];
            popup_62e2d0a5c2534c6b9c3457f2a2a7d362.setContent(html_9d0dfa91da324e359f47bdf00445d330);
        

        marker_64191909565b4bdabc893a4da7e42064.bindPopup(popup_62e2d0a5c2534c6b9c3457f2a2a7d362)
        ;

        
    
    
            var marker_649b440ae17344aab3592e2596de1253 = L.marker(
                [40.84930972577632, 66.44034451439111],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_7a1286d41e5f48819d2a3ea2e26469fb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_649b440ae17344aab3592e2596de1253.setIcon(icon_7a1286d41e5f48819d2a3ea2e26469fb);
        
    
        var popup_dc7fe17668f24aafa3c5bf026871bb95 = L.popup({"maxWidth": "100%"});

        
            var html_9ccec20f29454491bdb879a13236e901 = $(`<div id="html_9ccec20f29454491bdb879a13236e901" style="width: 100.0%; height: 100.0%;"><strong>2</strong></div>`)[0];
            popup_dc7fe17668f24aafa3c5bf026871bb95.setContent(html_9ccec20f29454491bdb879a13236e901);
        

        marker_649b440ae17344aab3592e2596de1253.bindPopup(popup_dc7fe17668f24aafa3c5bf026871bb95)
        ;

        
    
    
            var marker_43f5309c86514a7586d1ab0fbd75d445 = L.marker(
                [45.41242123338955, 46.35508633198097],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_79934e9fefcb4cd39075a21a391e7afd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_43f5309c86514a7586d1ab0fbd75d445.setIcon(icon_79934e9fefcb4cd39075a21a391e7afd);
        
    
        var popup_7d0be43d41b24a00b592d99e1ef3a44c = L.popup({"maxWidth": "100%"});

        
            var html_c49c60d5caf74bcbaf09fa4888406d0c = $(`<div id="html_c49c60d5caf74bcbaf09fa4888406d0c" style="width: 100.0%; height: 100.0%;"><strong>3</strong></div>`)[0];
            popup_7d0be43d41b24a00b592d99e1ef3a44c.setContent(html_c49c60d5caf74bcbaf09fa4888406d0c);
        

        marker_43f5309c86514a7586d1ab0fbd75d445.bindPopup(popup_7d0be43d41b24a00b592d99e1ef3a44c)
        ;

        
    
    
            var marker_f538679721e64833b355a0d66075814b = L.marker(
                [29.737972849268488, -18.83929312424229],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_568ca8df50f141bea003a9b5aab6468d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f538679721e64833b355a0d66075814b.setIcon(icon_568ca8df50f141bea003a9b5aab6468d);
        
    
        var popup_2f7ca901a34245d2ae5424246400e517 = L.popup({"maxWidth": "100%"});

        
            var html_f78d723da66e49639c6c88b1de969f04 = $(`<div id="html_f78d723da66e49639c6c88b1de969f04" style="width: 100.0%; height: 100.0%;"><strong>4</strong></div>`)[0];
            popup_2f7ca901a34245d2ae5424246400e517.setContent(html_f78d723da66e49639c6c88b1de969f04);
        

        marker_f538679721e64833b355a0d66075814b.bindPopup(popup_2f7ca901a34245d2ae5424246400e517)
        ;

        
    
    
            var marker_8e4afe803110435fba19dae1be33a0be = L.marker(
                [68.98673424430447, 61.60176538974022],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_0adaefc98eae45e38af081d76124b995 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8e4afe803110435fba19dae1be33a0be.setIcon(icon_0adaefc98eae45e38af081d76124b995);
        
    
        var popup_511f56eeadca460584a929fc29605653 = L.popup({"maxWidth": "100%"});

        
            var html_c9d0cf45194d4a688de0e3ef51625587 = $(`<div id="html_c9d0cf45194d4a688de0e3ef51625587" style="width: 100.0%; height: 100.0%;"><strong>5</strong></div>`)[0];
            popup_511f56eeadca460584a929fc29605653.setContent(html_c9d0cf45194d4a688de0e3ef51625587);
        

        marker_8e4afe803110435fba19dae1be33a0be.bindPopup(popup_511f56eeadca460584a929fc29605653)
        ;

        
    
    
            var marker_5e13ee9c22f749749fdb9c9e1661c823 = L.marker(
                [82.90893960960096, -35.08087752219947],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_69749664b3bc4a00a9c7aae4b2d21024 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5e13ee9c22f749749fdb9c9e1661c823.setIcon(icon_69749664b3bc4a00a9c7aae4b2d21024);
        
    
        var popup_f44554c46b1549cc83886d8956f6bbe6 = L.popup({"maxWidth": "100%"});

        
            var html_016dbdb06c60465a8c595a8499b807cc = $(`<div id="html_016dbdb06c60465a8c595a8499b807cc" style="width: 100.0%; height: 100.0%;"><strong>6</strong></div>`)[0];
            popup_f44554c46b1549cc83886d8956f6bbe6.setContent(html_016dbdb06c60465a8c595a8499b807cc);
        

        marker_5e13ee9c22f749749fdb9c9e1661c823.bindPopup(popup_f44554c46b1549cc83886d8956f6bbe6)
        ;

        
    
    
            var marker_33649e8cc93d42db94529f8893045ac8 = L.marker(
                [38.32641591257416, -115.48040872604487],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_1f1c02c6e63e479b84222be37e922305 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_33649e8cc93d42db94529f8893045ac8.setIcon(icon_1f1c02c6e63e479b84222be37e922305);
        
    
        var popup_27bcec4165544058b1cdf778cd8d5f48 = L.popup({"maxWidth": "100%"});

        
            var html_365b2273c2334ef3bf6380b93cf12a5a = $(`<div id="html_365b2273c2334ef3bf6380b93cf12a5a" style="width: 100.0%; height: 100.0%;"><strong>7</strong></div>`)[0];
            popup_27bcec4165544058b1cdf778cd8d5f48.setContent(html_365b2273c2334ef3bf6380b93cf12a5a);
        

        marker_33649e8cc93d42db94529f8893045ac8.bindPopup(popup_27bcec4165544058b1cdf778cd8d5f48)
        ;

        
    
    
            var marker_0da7af414d574c0bad40c4ffa2712cd0 = L.marker(
                [59.20514963177553, 118.86730955864527],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_adce15128e0f457e862841a883681c92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0da7af414d574c0bad40c4ffa2712cd0.setIcon(icon_adce15128e0f457e862841a883681c92);
        
    
        var popup_ee51e14c81d04cb5b43766a30cf97dc4 = L.popup({"maxWidth": "100%"});

        
            var html_88ab6878d15644bb9088ca36a16f184f = $(`<div id="html_88ab6878d15644bb9088ca36a16f184f" style="width: 100.0%; height: 100.0%;"><strong>8</strong></div>`)[0];
            popup_ee51e14c81d04cb5b43766a30cf97dc4.setContent(html_88ab6878d15644bb9088ca36a16f184f);
        

        marker_0da7af414d574c0bad40c4ffa2712cd0.bindPopup(popup_ee51e14c81d04cb5b43766a30cf97dc4)
        ;

        
    
    
            var marker_5e4c83aac0b547adb157a41339e6c0b6 = L.marker(
                [-10.689736940794802, 30.003628474357157],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_003ec2f6fb9745ba88d9239ba1fc25ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5e4c83aac0b547adb157a41339e6c0b6.setIcon(icon_003ec2f6fb9745ba88d9239ba1fc25ce);
        
    
        var popup_82a3dff14e5248988e93d301204e2b98 = L.popup({"maxWidth": "100%"});

        
            var html_7ad8314f1ee245b9892e817209e6cd4a = $(`<div id="html_7ad8314f1ee245b9892e817209e6cd4a" style="width: 100.0%; height: 100.0%;"><strong>9</strong></div>`)[0];
            popup_82a3dff14e5248988e93d301204e2b98.setContent(html_7ad8314f1ee245b9892e817209e6cd4a);
        

        marker_5e4c83aac0b547adb157a41339e6c0b6.bindPopup(popup_82a3dff14e5248988e93d301204e2b98)
        ;

        
    
    
            var marker_9d819ad1707b444787dc94c76985fa85 = L.marker(
                [-27.960884269087245, 37.86211378509947],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_da88d889ec0045eb890d332a2bc613fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9d819ad1707b444787dc94c76985fa85.setIcon(icon_da88d889ec0045eb890d332a2bc613fd);
        
    
        var popup_6dcf7415e9074523b25d4aba3a570ca9 = L.popup({"maxWidth": "100%"});

        
            var html_4b9c1ce97e2046f3b561886ef6aab5f2 = $(`<div id="html_4b9c1ce97e2046f3b561886ef6aab5f2" style="width: 100.0%; height: 100.0%;"><strong>10</strong></div>`)[0];
            popup_6dcf7415e9074523b25d4aba3a570ca9.setContent(html_4b9c1ce97e2046f3b561886ef6aab5f2);
        

        marker_9d819ad1707b444787dc94c76985fa85.bindPopup(popup_6dcf7415e9074523b25d4aba3a570ca9)
        ;

        
    
    
            var marker_b26d14eeb3cb469c92a947f034327fdd = L.marker(
                [-6.852705157219788, 76.55835197852906],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_4b43cd2450bd44d98b1c297f85935c3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b26d14eeb3cb469c92a947f034327fdd.setIcon(icon_4b43cd2450bd44d98b1c297f85935c3a);
        
    
        var popup_8853e4e60dde492e8a11e35308a7e0a9 = L.popup({"maxWidth": "100%"});

        
            var html_2abc7fee7f0945afbf8f588508d00d70 = $(`<div id="html_2abc7fee7f0945afbf8f588508d00d70" style="width: 100.0%; height: 100.0%;"><strong>11</strong></div>`)[0];
            popup_8853e4e60dde492e8a11e35308a7e0a9.setContent(html_2abc7fee7f0945afbf8f588508d00d70);
        

        marker_b26d14eeb3cb469c92a947f034327fdd.bindPopup(popup_8853e4e60dde492e8a11e35308a7e0a9)
        ;

        
    
    
            var marker_4f063c12b8034939b36a79be88524423 = L.marker(
                [-34.650409702512974, 152.3524144741025],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_43ccd4a2c54144fcb0b522337231601c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4f063c12b8034939b36a79be88524423.setIcon(icon_43ccd4a2c54144fcb0b522337231601c);
        
    
        var popup_4d602983c6da411f9f888a1eaefd8feb = L.popup({"maxWidth": "100%"});

        
            var html_94faae687df94bb0bf1da48e2fe8ecaf = $(`<div id="html_94faae687df94bb0bf1da48e2fe8ecaf" style="width: 100.0%; height: 100.0%;"><strong>12</strong></div>`)[0];
            popup_4d602983c6da411f9f888a1eaefd8feb.setContent(html_94faae687df94bb0bf1da48e2fe8ecaf);
        

        marker_4f063c12b8034939b36a79be88524423.bindPopup(popup_4d602983c6da411f9f888a1eaefd8feb)
        ;

        
    
    
            var marker_ade2274aea314596b0f22fe72b6e339a = L.marker(
                [-44.401091884923325, -161.58079431251832],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_a0a3849cb5564a26aad73aec48b6ece6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ade2274aea314596b0f22fe72b6e339a.setIcon(icon_a0a3849cb5564a26aad73aec48b6ece6);
        
    
        var popup_bf952dd0ecf443b5a9dcf7bb4e36279e = L.popup({"maxWidth": "100%"});

        
            var html_e72cbce9c52840e9a90388aff8724cc1 = $(`<div id="html_e72cbce9c52840e9a90388aff8724cc1" style="width: 100.0%; height: 100.0%;"><strong>13</strong></div>`)[0];
            popup_bf952dd0ecf443b5a9dcf7bb4e36279e.setContent(html_e72cbce9c52840e9a90388aff8724cc1);
        

        marker_ade2274aea314596b0f22fe72b6e339a.bindPopup(popup_bf952dd0ecf443b5a9dcf7bb4e36279e)
        ;

        
    
    
            var marker_f60953267d9d422c85dbd26171fd1186 = L.marker(
                [-9.891741615955667, -127.9045903097727],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_f6a7f69658c64bb992b602e38dc804c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f60953267d9d422c85dbd26171fd1186.setIcon(icon_f6a7f69658c64bb992b602e38dc804c4);
        
    
        var popup_95f7d6edccb3403289cd1e6c0b416788 = L.popup({"maxWidth": "100%"});

        
            var html_d7103a76e76e440ba979e6e323293e4b = $(`<div id="html_d7103a76e76e440ba979e6e323293e4b" style="width: 100.0%; height: 100.0%;"><strong>14</strong></div>`)[0];
            popup_95f7d6edccb3403289cd1e6c0b416788.setContent(html_d7103a76e76e440ba979e6e323293e4b);
        

        marker_f60953267d9d422c85dbd26171fd1186.bindPopup(popup_95f7d6edccb3403289cd1e6c0b416788)
        ;

        
    
    
            var marker_bb967cd150a343bf8faadaae66f1513e = L.marker(
                [-27.70532346776765, -145.69339856554492],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_c03ba80f4dff4113a9ea13bea9750a70 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bb967cd150a343bf8faadaae66f1513e.setIcon(icon_c03ba80f4dff4113a9ea13bea9750a70);
        
    
        var popup_d35074c4c8a044bfb60b00bd12fda338 = L.popup({"maxWidth": "100%"});

        
            var html_d04883ed26b64f5bb01d2a61535f3e23 = $(`<div id="html_d04883ed26b64f5bb01d2a61535f3e23" style="width: 100.0%; height: 100.0%;"><strong>15</strong></div>`)[0];
            popup_d35074c4c8a044bfb60b00bd12fda338.setContent(html_d04883ed26b64f5bb01d2a61535f3e23);
        

        marker_bb967cd150a343bf8faadaae66f1513e.bindPopup(popup_d35074c4c8a044bfb60b00bd12fda338)
        ;

        
    
    
            var marker_f0c4d3f588d14447889144ab11d7510a = L.marker(
                [-18.21103856535818, -149.15689494832398],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_6b9cd2490a444700b0849966f0910966 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f0c4d3f588d14447889144ab11d7510a.setIcon(icon_6b9cd2490a444700b0849966f0910966);
        
    
        var popup_4350de6cafcb4f8e9e4eb5edab72886d = L.popup({"maxWidth": "100%"});

        
            var html_dc32cab457d54b48aeb503ab39bdb62f = $(`<div id="html_dc32cab457d54b48aeb503ab39bdb62f" style="width: 100.0%; height: 100.0%;"><strong>16</strong></div>`)[0];
            popup_4350de6cafcb4f8e9e4eb5edab72886d.setContent(html_dc32cab457d54b48aeb503ab39bdb62f);
        

        marker_f0c4d3f588d14447889144ab11d7510a.bindPopup(popup_4350de6cafcb4f8e9e4eb5edab72886d)
        ;

        
    
    
            var marker_a27f7ecf9a204fe48af0d0797b6312de = L.marker(
                [-46.00032067932102, -116.73969314782434],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_43a5113eb65d47188416f0deb9fc2c9c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a27f7ecf9a204fe48af0d0797b6312de.setIcon(icon_43a5113eb65d47188416f0deb9fc2c9c);
        
    
        var popup_c1dd0cc3e90f4c4d9a86c253af53ea44 = L.popup({"maxWidth": "100%"});

        
            var html_cfb125d39fb04b329582d649943ecde8 = $(`<div id="html_cfb125d39fb04b329582d649943ecde8" style="width: 100.0%; height: 100.0%;"><strong>17</strong></div>`)[0];
            popup_c1dd0cc3e90f4c4d9a86c253af53ea44.setContent(html_cfb125d39fb04b329582d649943ecde8);
        

        marker_a27f7ecf9a204fe48af0d0797b6312de.bindPopup(popup_c1dd0cc3e90f4c4d9a86c253af53ea44)
        ;

        
    
    
            var marker_f9b529fdd5bb4c788c0bfdac36d3190b = L.marker(
                [-56.64384905356019, -154.3761458155929],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_721c45120b4540aba5598059ac524a86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f9b529fdd5bb4c788c0bfdac36d3190b.setIcon(icon_721c45120b4540aba5598059ac524a86);
        
    
        var popup_46810bcdb7a24af2afb4cfbe452fc264 = L.popup({"maxWidth": "100%"});

        
            var html_3f183c1ec8eb4dcc85871a34b7800139 = $(`<div id="html_3f183c1ec8eb4dcc85871a34b7800139" style="width: 100.0%; height: 100.0%;"><strong>18</strong></div>`)[0];
            popup_46810bcdb7a24af2afb4cfbe452fc264.setContent(html_3f183c1ec8eb4dcc85871a34b7800139);
        

        marker_f9b529fdd5bb4c788c0bfdac36d3190b.bindPopup(popup_46810bcdb7a24af2afb4cfbe452fc264)
        ;

        
    
    
            var marker_f69533a1b20147aea81731ed350bdcdb = L.marker(
                [-65.4416313909346, -124.16384957436225],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_5d42251ae2194bb58fcde7c3b43fddd2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f69533a1b20147aea81731ed350bdcdb.setIcon(icon_5d42251ae2194bb58fcde7c3b43fddd2);
        
    
        var popup_75a21b6473db430b8db153177c5d96c6 = L.popup({"maxWidth": "100%"});

        
            var html_88574f048da54281a33107a8a632b208 = $(`<div id="html_88574f048da54281a33107a8a632b208" style="width: 100.0%; height: 100.0%;"><strong>19</strong></div>`)[0];
            popup_75a21b6473db430b8db153177c5d96c6.setContent(html_88574f048da54281a33107a8a632b208);
        

        marker_f69533a1b20147aea81731ed350bdcdb.bindPopup(popup_75a21b6473db430b8db153177c5d96c6)
        ;

        
    
    
            var marker_b6cf30b2ec324300a799511830953440 = L.marker(
                [-60.72220535239387, -58.53244958358053],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_c6fe053b7d534a1db665817bb7bd0212 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b6cf30b2ec324300a799511830953440.setIcon(icon_c6fe053b7d534a1db665817bb7bd0212);
        
    
        var popup_01a70e164ad54f6d9c61842986cfbfc1 = L.popup({"maxWidth": "100%"});

        
            var html_c8547bd5e25d4719abd85bfd615aff6e = $(`<div id="html_c8547bd5e25d4719abd85bfd615aff6e" style="width: 100.0%; height: 100.0%;"><strong>20</strong></div>`)[0];
            popup_01a70e164ad54f6d9c61842986cfbfc1.setContent(html_c8547bd5e25d4719abd85bfd615aff6e);
        

        marker_b6cf30b2ec324300a799511830953440.bindPopup(popup_01a70e164ad54f6d9c61842986cfbfc1)
        ;

        
    
    
            var marker_e50705b03ca843f982d4760f9f0a6e81 = L.marker(
                [-31.499892978260846, -105.11260091365492],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_51e38015bfd040909c5f0f8e4e8e56e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e50705b03ca843f982d4760f9f0a6e81.setIcon(icon_51e38015bfd040909c5f0f8e4e8e56e3);
        
    
        var popup_27da68194d4442a09e4a5a6ed141b60d = L.popup({"maxWidth": "100%"});

        
            var html_baa158bde1354379a05b0cfbf52e79ec = $(`<div id="html_baa158bde1354379a05b0cfbf52e79ec" style="width: 100.0%; height: 100.0%;"><strong>21</strong></div>`)[0];
            popup_27da68194d4442a09e4a5a6ed141b60d.setContent(html_baa158bde1354379a05b0cfbf52e79ec);
        

        marker_e50705b03ca843f982d4760f9f0a6e81.bindPopup(popup_27da68194d4442a09e4a5a6ed141b60d)
        ;

        
    
    
            var marker_886f815298994617b97f017a2e3d12c7 = L.marker(
                [-37.905949857401275, -96.49903716348373],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_dc8afdbfc38140d390f634fba125524f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_886f815298994617b97f017a2e3d12c7.setIcon(icon_dc8afdbfc38140d390f634fba125524f);
        
    
        var popup_ae259af79d38429c9fc6861485037fda = L.popup({"maxWidth": "100%"});

        
            var html_90f8a3af4f154178be2d7e9c29facce1 = $(`<div id="html_90f8a3af4f154178be2d7e9c29facce1" style="width: 100.0%; height: 100.0%;"><strong>22</strong></div>`)[0];
            popup_ae259af79d38429c9fc6861485037fda.setContent(html_90f8a3af4f154178be2d7e9c29facce1);
        

        marker_886f815298994617b97f017a2e3d12c7.bindPopup(popup_ae259af79d38429c9fc6861485037fda)
        ;

        
    
    
            var marker_2203180ebd634a059a9364708663abee = L.marker(
                [-12.042061124919542, -99.70598103568236],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_38da267b56464b6fb20c7f74586d7c8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2203180ebd634a059a9364708663abee.setIcon(icon_38da267b56464b6fb20c7f74586d7c8c);
        
    
        var popup_548ea2d6086849e3943c4d16e01f5ad2 = L.popup({"maxWidth": "100%"});

        
            var html_f2cd2ee4c8724beb89752a1137436cc6 = $(`<div id="html_f2cd2ee4c8724beb89752a1137436cc6" style="width: 100.0%; height: 100.0%;"><strong>23</strong></div>`)[0];
            popup_548ea2d6086849e3943c4d16e01f5ad2.setContent(html_f2cd2ee4c8724beb89752a1137436cc6);
        

        marker_2203180ebd634a059a9364708663abee.bindPopup(popup_548ea2d6086849e3943c4d16e01f5ad2)
        ;

        
    
    
            var marker_5105b7da7d8244f580f970e35c788186 = L.marker(
                [46.37113980047238, -77.9608754296093],
                {}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var icon_90af65e8602c479384ec9e945c1987ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5105b7da7d8244f580f970e35c788186.setIcon(icon_90af65e8602c479384ec9e945c1987ad);
        
    
        var popup_5d7daed366fa47e4821667b9704610cf = L.popup({"maxWidth": "100%"});

        
            var html_fe73ff742f264e8ca7b6639d43dbbb54 = $(`<div id="html_fe73ff742f264e8ca7b6639d43dbbb54" style="width: 100.0%; height: 100.0%;"><strong>24</strong></div>`)[0];
            popup_5d7daed366fa47e4821667b9704610cf.setContent(html_fe73ff742f264e8ca7b6639d43dbbb54);
        

        marker_5105b7da7d8244f580f970e35c788186.bindPopup(popup_5d7daed366fa47e4821667b9704610cf)
        ;

        
    
    
            var poly_line_9c09179d29984cb9b72b910c62353d84 = L.polyline(
                [[68.70808458060398, 22.738883605261805], [77.36738638227385, -0.6449211314979664]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_bfb196d232c54b5ab527f2d696e0e03b = L.polyline(
                [[77.36738638227385, -0.6449211314979664], [40.84930972577632, 66.44034451439111]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_3d2b80f7f3fb4b49ad3b8320faac3297 = L.polyline(
                [[40.84930972577632, 66.44034451439111], [45.41242123338955, 46.35508633198097]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_fda42f79a09f4354aa9a5b9ac52ff53c = L.polyline(
                [[45.41242123338955, 46.35508633198097], [29.737972849268488, -18.83929312424229]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_cd6e6e77791a40c7b762217693081d3a = L.polyline(
                [[29.737972849268488, -18.83929312424229], [68.98673424430447, 61.60176538974022]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_e34fdb63009c474a898be16e5da7932c = L.polyline(
                [[68.98673424430447, 61.60176538974022], [82.90893960960096, -35.08087752219947]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_a73a126ef85d42a5b20b2e897db0fdee = L.polyline(
                [[82.90893960960096, -35.08087752219947], [38.32641591257416, -115.48040872604487]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_77b2e3e920d0414592cbdd078a3ed58f = L.polyline(
                [[38.32641591257416, -115.48040872604487], [59.20514963177553, 118.86730955864527]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_8487859371e044b0ade010c407227d72 = L.polyline(
                [[59.20514963177553, 118.86730955864527], [-10.689736940794802, 30.003628474357157]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_f3005fef279c45d1a11cc93911a6ffe9 = L.polyline(
                [[-10.689736940794802, 30.003628474357157], [-27.960884269087245, 37.86211378509947]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_e7194401e6ec450596fc8871c0190719 = L.polyline(
                [[-27.960884269087245, 37.86211378509947], [-6.852705157219788, 76.55835197852906]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_8577257ac8da406ca39042450e93b767 = L.polyline(
                [[-6.852705157219788, 76.55835197852906], [-34.650409702512974, 152.3524144741025]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_0cf3923163b1403caddf0ec88e454757 = L.polyline(
                [[-34.650409702512974, 152.3524144741025], [-44.401091884923325, -161.58079431251832]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_d966212c9d384a9987d3de7823e92a07 = L.polyline(
                [[-44.401091884923325, -161.58079431251832], [-9.891741615955667, -127.9045903097727]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_efc247cff2344345aba54fc5708a1573 = L.polyline(
                [[-9.891741615955667, -127.9045903097727], [-27.70532346776765, -145.69339856554492]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_2527dfe00b6c479d815659ee390e6780 = L.polyline(
                [[-27.70532346776765, -145.69339856554492], [-18.21103856535818, -149.15689494832398]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_5658fcdfad214aa78f5562dc7d3356bf = L.polyline(
                [[-18.21103856535818, -149.15689494832398], [-46.00032067932102, -116.73969314782434]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_c91254b6ceb347f7b0ef0ca207299479 = L.polyline(
                [[-46.00032067932102, -116.73969314782434], [-56.64384905356019, -154.3761458155929]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_3d64fa49fbe247a19f0f01f34c2b60be = L.polyline(
                [[-56.64384905356019, -154.3761458155929], [-65.4416313909346, -124.16384957436225]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_a04849d04a3148749aff5b809a21291a = L.polyline(
                [[-65.4416313909346, -124.16384957436225], [-60.72220535239387, -58.53244958358053]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_c196116265e94186a6cf5d6881ee7a01 = L.polyline(
                [[-60.72220535239387, -58.53244958358053], [-31.499892978260846, -105.11260091365492]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_6bca398100f9417694036bde3416c5ef = L.polyline(
                [[-31.499892978260846, -105.11260091365492], [-37.905949857401275, -96.49903716348373]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_a710901e0ccd4657a12bd05455d142da = L.polyline(
                [[-37.905949857401275, -96.49903716348373], [-12.042061124919542, -99.70598103568236]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_2a6876c6356a4b84b3b368fa80214919 = L.polyline(
                [[-12.042061124919542, -99.70598103568236], [46.37113980047238, -77.9608754296093]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
    
            var poly_line_36892c3818e54883ae1b13fbe699bd0c = L.polyline(
                [[46.37113980047238, -77.9608754296093], [68.70808458060398, 22.738883605261805]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_78ddfba1b53e4513b3ba76ed5131fc9f);
        
</script>